
@{
    ViewBag.Title = "Home Page";
}

<h1>Please select what you would like to display.</h1>

<a href="ListCategory">Category</a><br />
<a href="ListOrder">Order</a><br />
<a href="ListEmployee">Employee</a><br />
<a href="ListProduct">Product</a><br />
<a href="ListSupplier">Supplier</a><br />
<a href="ListCustomer">Customer</a><br />
<a href="ListShipper">Shipper</a><br /><br />