
@{
    ViewBag.Title = "ListCategory";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h1>List Of Categories</h1><br />
<table>
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Update</th>
    </tr>

    @foreach (var a in ViewBag.aListOfCategory)
    {
        <tr>
            <td>@Html.Raw(a.CategoryId)</td>
            <td>@Html.Raw(a.CategoryName)</td>
            <td>@Html.Raw(a.Description)</td>
            <td><a href="GetUpdateCategory?id=@a.CategoryId">Update</a></td>
        </tr>
    }
</table><br /><br />